<%- include('../includes/head.ejs') %>

<header> login </header>

<main>
  <% if (errMsg) { %>
  <div class="message message-error"><%= errMsg %></div>
  <% } %>
  <form class="form-container" action="/login" method="POST" novalidate>
    <div class="form-item">
      <label for="email">E-Mail</label>
      <input
        class="<%= validationErrors.find(err => err.param === 'email') ? 'message-error' : ''%>"
        type="email"
        name="email"
        id="email"
        value="<%= oldInput.email %>"
      />
    </div>
    <div class="form-item">
      <label for="password">Password</label>
      <input
        class="<%= validationErrors.find(err => err.param === 'password') ? 'message-error' : ''%>"
        type="password"
        name="password"
        id="password"
        value="<%= oldInput.password %>"
      />
    </div>
    <button class="form-btn" type="submit">Login</button>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  </form>

  <div style="float:right">
    <p> password for all : 123 </p>
    <ul>manager account: 
      <li> 123@gmail.com </li>
    </ul>
    <ul>employee accounts : 
      <li> xmen@funix.com </li>
    </ul>
  </div>
</main>
<%- include('../includes/foot.ejs') %>
