<nav class="nav-container">
  <ul class="nav-top nav-list">
    <li class="nav-item">
      <a class="<%= path === '/login' ? 'active' : ''%>" href="/login">login</a>
    </li>
    <li class="nav-item">
      <% if (isAuth) { %>
      <form action="/logout" method="post">
        <button
          class="btn <%= path === '/logout' ? 'active' : ''%>"
          type="submit"
        >
          Logout
        </button>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      </form>
      <% } %>
    </li>
  </ul>
  <!-- <ul class="nav-welcome nav-list">
    <% if (isAuth) { %>
    <h3 class="nav-item"><%= user.email %> 's</h3>
    <% } else { %>
    <h3 class="nav-item">welcome to abc company</h3>
    <% } %>
/* xong truyen user vao from tung page */
    <p class="role">(<% isManager ? 'manager' : 'employee' %>)</p>
  </ul> -->
  <ul class="nav-bottom nav-list">
    <% if (isManager) { %>
    <li class="nav-item">
      <a class="<%= path === '/reports' ? 'active' : ''%>" href="/"
        >work-reports</a
      >
    </li>
    <% } %>
    <li class="nav-item">
      <a class="<%= path === '/report-details' ? 'active' : ''%>" href="/"
        >report-details</a
      >
    </li>
    <li class="nav-item">
      <a class="<%= path === '/attendance' ? 'active' : ''%>" href="/attendance"
        >attendance</a
      >
    </li>
    <li class="nav-item">
      <a class="<%= path === '/profile' ? 'active' : ''%>" href="/profile"
        >profile</a
      >
    </li>
    <li class="nav-item">
      <a
        class="<%= path === '/health-declaration' ? 'active' : ''%>"
        href="/health-declaration"
        >health-declaration</a
      >
    </li>
  </ul>
</nav>
