<%- include ('../includes/head')%> <%- include ('../includes/nav')%>

<main>
  <h1>hi <%= user.email %></h1>
  <h3>pick your working place for this session :</h3>
  <!-- o ha va case ko co thi sao -->
  <form
    action="/<% if (reports.reportId.workMode) { %>check-in<% } else  %>check-out<% } %>"
    class="form-container"
    method="post"
  >
    <div class="form-item">
      <label for="workplace-home">home</label>
      <input type="radio" id="workplace-home" name="workplace" value="home"/>
    </div>
    <div class="form-item">
      <label for="workplace-company">company</label>
      <input type="radio" id="workplace-company" name="workplace" value="company" checked/>
    </div>
    <div class="form-item">
      <label for="workplace-other">other</label>
      <input type="radio" id="workplace-other" name="workplace" value="other" />
    </div>
    <button type="submit" class="btn">start working</button>
    <!-- dieu kien r ma  -->
    <% if (reports.length > 0) { %>
      <% if (reports.reportId.editMode) { %>
        <% if (!reports.reportId.workMode) { %>
          <div class="grid">
            <% reports.reportId.forEach(report => { %>
              <div class="grid-item">
                <p><%= user.name %></p>
                <p><%= report.workplace %></p>
                <p><%= report.startTime %></p>
              </div>
            <% }) %>
          </div>
        <% } else { %>
          <div class="grid">
            <% reports.reportId.forEach(report => { %>
              <div class="grid-item">
                <p><%= report.workplace %></p>
                <p><%= report.startTime %></p>
                <p><%= report.finishTime %></p>
              </div>
            <% }) %>
          </div>
          <button type="submit" class="btn">finish</button>
        <% }%>
          <form action="/register-leave">
            <button type="submit" class="btn"> register leave </button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          </form>
      <% } %>
      <h3> working status : <% reports.reportId.workMode ? %>on<% : %>off</h3> 
        <% if (reports.reportId.editMode) { %>
            <form action="/register-leave">
              <button type="submit" class="btn"> register leave </button>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            </form>
        <% } %>
    <% } %>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  </form>

</main>

<%- include('../includes/foot')%>
