<%- include ('../includes/head')%> <%- include ('../includes/nav')%>

<main>
  <% console.log(444, user) %> <% console.log(555, report.workMode) %>
  <h1>hi <%= user.email %></h1>
  <h3>pick your working place for this session :</h3>

  <form action="/check-in" class="form-container" method="post">
    <div class="form-item">
      <label for="workplace-home">home</label>
      <input type="radio" id="workplace-home" name="workplace" value="home" />
      <label for="workplace-company">company</label>
      <input
        type="radio"
        id="workplace-company"
        name="workplace"
        value="company"
        checked
      />
      <label for="workplace-other">other</label>
      <input type="radio" id="workplace-other" name="workplace" value="other" />
    </div>
    <button type="submit" class="btn">start working</button>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <h3>
      working status : <% if (report.workMode) { %>on<% } else { %>off<% } %>
    </h3>
  </form>

  <% if (report.editMode) { %> 
    <% if (report.workMode) { %>
  <div class="grid">
    <% report.workingSessions.forEach(session => { %>
      <div class="grid-item">
        <p>checkin : <%= session.checkin %> h</p>
        <p>workplace : <%= session.workplace %></p>
      </div>
    <% }) %>
  </div>
  <form action="/check-out" class="centered">
    <button type="submit" class="btn">finish</button>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  </form>
  <% } else { %>
  <div class="grid">
    <% report.workingSessions.forEach(session => { %>
    <div class="grid-item">
      <p>checkin : <%= session.checkin %></p>
      <p>checkout : <%= session.checkout %></p>
      <p>workplace : <%= session.workplace %></p>
    </div>
    <% }) %>
  </div>
  <% } %> <% } %>

  <form action="/register-leave" >
    <button type="submit" class="btn">register leave</button>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  </form>
</main>

<%- include('../includes/foot')%>
