<%- include ('../includes/head')%> <%- include ('../includes/nav')%>

<main>
  <h1>hi <%= user.email %></h1>
  <h3>pick your working place for this session :</h3>

  <form action="/check-in" class="form-container" method="post">
    <div >
      <div class="form-radio">
        <input
        type="radio"
        id="workplace-company"
        name="workplace"
        value="company"
        checked
        />
        <label for="workplace-company">company</label>
      </div>
      <div class="form-radio">
        <input type="radio" id="workplace-home" name="workplace" value="home" />
        <label for="workplace-home">home</label>
      </div>
      <div class="form-radio">
        <input type="radio" id="workplace-other" name="workplace" value="other" />
        <label for="workplace-other">other</label>
      </div>
    </div>

    <% if (user.editMode) { %> 
      <% if (report && !report.workMode || !report) { %> 
        <button type="submit" class="btn">start working</button>
      <% } %> 
    <% } else { %> 
      <div class="message message-error">contact to manager to enable your work</div>
    <% } %> 
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <h3>
      working status : <% if (report && report.workMode) { %>on<% } else { %>off<% } %>
    </h3>
  </form>


  <% if (report) { %> 
    <% if (user.editMode) { %> 

      <% if (report.workMode) { %>
        <div class="<% if (report.workingSessions.length > 1) { %>flex<% } else { %>centered<% } %>">
          <% report.workingSessions.forEach(session => { %>
            <div class="grid-item">
              <p>checkin : <%= session.checkin %> h</p>
              <p>workplace : <%= session.workplace %></p>
            </div>
          <% }) %>
        </div>
        <form action="/check-out" class="centered" method="post">
          <button type="submit" class="btn">finish</button>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        </form>
      <% } else { %>
        <div class="<% if (report.workingSessions.length > 1) { %>flex<% } else { %>centered<% } %>">
          <% report.workingSessions.forEach(session => { %>
          <div class="grid-item">
            <p>checkin : <%= session.checkin %></p>
            <p>checkout : <%= session.checkout %></p>
            <p>total working : <%= session.diffTime %>h</p>
            <p>workplace : <%= session.workplace %></p>
          </div>
          <% }) %>
        </div>
      <% } %> 

    <% } %>
  <% } %>

  <input type="checkbox" hidden class="open-form" id="open-form-toggle">

  <label for="open-form-toggle" class="overlay"></label>

  <label class="btn" for="open-form-toggle" style="margin-top:9rem;"> register leave </label>

  <h3> remaining leave = <%= user.annualLeave %> h</h3>
  
  <div style="display: flex; justify-content: center;">
    <div class="pop-up">
      <div class="form-title">
        <h1>register leave</h1>
        <span>
          <label for="open-form-toggle" class="fa-2x close" style="color: var(--dark)">
            <i class="fa-solid fa-xmark"></i>
          </label>
        </span>
      </div>
      <hr>
      <form action="/register-leave" method="post" class="form-container">
        <div class="form-item">
          <label for="dayRegister">dayRegister</label>
          <input type="date" name="dayRegister" id="dayRegister"/>
        </div>
        <div class="form-item">
          <label for="hourRegister">hourRegister</label>
          <div style="display:flex; gap: 1rem;">
            <input type="range" min="0" max="8" name="hourRegister" id="hourRegister" 
              oninput="amount.value=hourRegister.value"/>                                                    
            <span style="color:var(--highlight-text)">
              <output name="amount" id="amount" for="hourRegister">4</output>
            </span>
          </div>
        </div>
        <div class="form-item">
            <label for="reason">reason</label>
            <textarea name="reason" id="reason" cols="30" rows="10"></textarea>
        </div>
  
        <input type="submit" value="register" class="form-btn"/>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  
      </form>
    </div>
  </div>

</main>

<%- include('../includes/foot')%>
