<%- include('../includes/head.ejs')%> <%- include('../includes/nav.ejs')%>

<main>
  <h1>hi <%= user.email %></h1>
  <h3>pick your working place for this session :</h3>
  <form
    action="/<% user.reports.reportId.workMode ? 'check-in' : 'check-out' %>"
    class="form-container"
    method="post"
  >
    <div class="form-item">
      <label for="workplace-home">home</label>
      <input type="radio" id="workplace-home" name="workplace" value="home"/>
    </div>
    <div class="form-item">
      <label for="workplace-company">company</label>
      <input type="radio" id="workplace-company" name="workplace" value="company" checked/>
    </div>
    <div class="form-item">
      <label for="workplace-other">other</label>
      <input type="radio" id="workplace-other" name="workplace" value="other" />
    </div>
    <% if (reports.reportId.editMode) { %>
        <% if (!reports.reportId.workMode) { %>
          <div class="grid">
            <% reports.reportId.forEach(report => { %>
              <div class="grid-item">
                <p><%= user.name %></p>
                <p><%= report.workplace %></p>
                <p><%= report.startTime %></p>
              </div>
            <% }) %>
          </div>
          <button type="submit" class="btn">start working</button>
        <% } else { %>
          <div class="grid">
            <% reports.reportId.forEach(report => { %>
              <div class="grid-item">
                <p><%= report.workplace %></p>
                <p><%= report.startTime %></p>
                <p><%= report.finishTime %></p>
              </div>
            <% }) %>
          </div>
          <button type="submit" class="btn">finish</button>
        <% }%>
          <form action="/register-leave">
            <button type="submit" class="btn"> register leave </button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          </form>
    <% } %>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  </form>

  <h3> working status : <% reports.reportId.workMode ? %>on<% : %>off</h3> 
<!-- rmb chinh mode khi tao ham post check in out -->
    <% if (reports.reportId.editMode) { %>
        <form action="/register-leave">
          <button type="submit" class="btn"> register leave </button>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        </form>
    <% } %>
</main>

<%- include('../includes/foot.ejs')%>
