<%- include('../includes/head.ejs')%> <%- include('../includes/nav.ejs')%>

<main class="centered">
  <h1>name : xxx</h1>
  <hr />
  <div class="image">
    <img src="/<%= user.image %>" alt="<%= user._id %>" />
  </div>
  <% if (isAuth) { %>
    <% console.log(isAuth, 'abc') %>
  <form
    action="/profile"
    method="post"
    enctype="multipart/form-data"
  >
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <input type="file" name="image" value="change apperance" />
    <input type="submit" value="confirm" />
    <% if (errMsg) { %>
    <div class="message message-error"><%= errMsg %></div>
    <% } %>
  </form>
  <% } %>
  <ul class="none-bullet">
    <li>id : <%= user._id %></li>
    <li>doB : xxx</li>
    <li>salaryScale : xxx</li>
    <li>startDate : 1 </li>
    <li>annualLeave : xxx</li>
    <li>overTime : xxx</li>
  </ul>
  <!-- turn into dynamic info later -->
</main>

<%- include('../includes/foot.ejs')%>
