<%- include('../includes/head.ejs')%> <%- include('../includes/nav.ejs')%>

<main class="centered highlight-text">
  <h1>name : xxx</h1>
  <hr />
  <ul class="none-bullet">
    <li>id : <%= user._id %></li>
    <li>doB : xxx</li>
    <li>salaryScale : 1</li>
    <li>startDate : xxx </li>
    <li>annualLeave : xxx</li>
    <li>overTime : xxx</li>
  </ul>
  <!-- turn into dynamic info later -->
  <div class="image">
    <img src="/<%= user.image %>" alt="<%= user._id %>" />
  </div>
  <% if (isAuth) { %>
  <form
    action="/profile"
    method="post"
    enctype="multipart/form-data"
  >
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <div class="flex">
      <input type="file" name="image" value="change apperance" class="btn" />
      <button class="btn" type="submit">confirm</button>
    </div>
    <% if (errMsg) { %>
    <div class="message message-error"><%= errMsg %></div>
    <% } %>
  </form>
  <% } %>
</main>

<%- include('../includes/foot.ejs')%>
