<%- include('../includes/head.ejs')%> <%- include('../includes/mav.ejs')%>

<main>
  <div class="grid">
    <% if (reports.length > 0) { %>
    <ul>
      <% reports.forEach(report => { %>
      <li>report at <%= report.workplace %></li>
      <li>annual leave <%= report.dayLeaveHours.period %></li>
      <li>start at <%= report.startTime %></li>
      <!-- can delete if isManager -->
      <li>finish at <%= report.finishTime %></li>
      <!-- <div>
        <input type="text" value="<%= report.finishTime %>" <% isManager ? '' : 'disabled' %> />
      </div> -->
      <li>over time <%= report.overTime %> h</li>
      <li>total <%= report.totalWorkingTime %> h for today's sessions</li>
      <li>total <%= report.totalSummaryTime %> h of working</li>
      <li> => total <%= report.salary %> $ of month</li>
        <!-- <% if (isManager) { %>
        <form action="/edit-report/:<%= report._id %>" method="post">
          <button class="btn" type="submit">edit</button>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          // still render this page but some content is populated
        </form>
        <form action="/disable-changes/:<%= report._id %>" method="post">
          <button class="btn" type="submit">disable-changes</button>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        </form>
        <% } else { %>
        <div>
          <h3>contact to manager :</h3>
          <p>abc <%= report.userId.managerId %></p>
        </div>
        <% } %> -->
      <% }) %>
    </ul>

    <!-- pagination? -->
    <% } %>
  </div>
</main>

<%- include('../includes/foot.ejs')%>
