<%- include('../includes/head.ejs')%> <%- include('../includes/mav.ejs')%>

<main>
  <div class="grid">
    <ul>
      <li>report at <%= report.workplace %></li>
      <li>annual leave <%= report.dayLeaveHours.period %></li>
      <li>start at <%= report.startTime %></li>
      <li>finish at <%= report.finishTime %></li>
      <li>over time <%= report.overTime %> h</li>
      <li>total <%= report.totalWorkingTime %> h for today's sessions</li>
      <li>total <%= report.totalSummaryTime %> h of working</li>
      <li>=> total <%= report.salary %> $ of month</li>
    </ul>
    <% if (isManager) { %>
    <form action="/delete-report/:<%= report._id %>" method="post">
      <button class="btn" type="submit">delete old reports</button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    </form>
    <form action="/disable-changes/:<%= report._id %>" method="post">
      <button class="btn" type="submit">disable-changes</button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    </form>
    <% } else { %>
    <div>
      <h3>contact to manager :</h3>
      <p>abc <%= report.userId.managerId %></p>
    </div>
    <% } %>

    <!-- pagination? -->
  </div>
</main>

<%- include('../includes/foot.ejs')%>
