<%- include('../includes/head.ejs')%> <%- include('../includes/nav.ejs')%>

<main>
    <% if (reports.length > 0) { %>
      <div class="grid">
        <% reports.forEach(report => { %>
          <ul class="grid-item">
              <ul> report at 
                <% report.workplaces && report.workplaces.forEach(place => { %>
                  <li><%= place %></li>
                <% } %>
              </ul>
              <li>annual leave <%= report.dayLeaveHours.period %></li>
              <li>start at <%= report.startTime %></li>
              <li>finish at <%= report.finishTime %></li>
              <li>over time <%= report.overTime %> h</li>
              <li>total <%= report.totalWorkingTime %> h for today's sessions</li>
              <li>total <%= report.totalSummaryTime %> h of working</li>
          </ul>
        <% } %>
        <h3> salary/month : <%= reports.at(-1).salary %> </h3> <!-- get salary data of latest rp -->
        <form method="post" action="/select-month"class="centered">
          <label>
            <select name="month">
              <% const months = [1,2,3,4,5,6,7,8,9,10,11,12] %>
              <% months.forEach(month => { %>
                <option value="<% month %>"><% month %></option>
              <% }) %>
            </select>
          </label>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        </form>
        
      <h3>contact to manager :</h3>
      <p>abc <%= reports.report.userId.managerId %></p>

      <% } else { %> 
        <h1>No found report</h1> 
      <% } %>
      
</main>

<%- include('../includes/foot.ejs')%>
