
<%- include('include/start.ejs') %>
  <link rel="stylesheet" href="/css/product.css">

  <%- include('include/nav.ejs') %>

  <main>
      <% if (products.length > 0) { %>
        <div class="productContainer">
          <% products.forEach((product) => { %>
              <article class="card productItem">
                <header class="cardHeader">
                  <h1 class="productTitle"> <%= product.title %> </h1>
                </header>
                <div class="cardImage">
                  <img src="" alt="<%= product.title %>" />
                </div>
                <div class="cardContent">
                  <h2 class="productPrice"> 123 </h2>
                  <p class="productDescription"> abc </p>
                </div>
                <div class="cardActions">
                  <button class="btn">Add to Cart</button>
                </div>
              </article>
            <% }) %>
        </div>
      <% } else { %>
        <h1> no found </h1>
      <% } %>
  </main>

<%- include('include/end.ejs') %>
