<%- include('../includes/head')%> <%- include('../includes/nav')%>

<main>
  <div class="grid">
    <% console.log(employees, 'employees v'); %>
    <% console.log(reports, 'reports v'); %>

    <% employees && employees.map(employee => { %>
    <div class="grid-item">
      <h3><%= employee._id %></h3>
      <a class="image" href="/report-details/<%= employee.reports.report[0].reportId.userId %>">
        <% console.log(employee.reports.report[0].reportId.userId)%>
        <img src="<%= employee.image %>" alt="<%= employee._id %>" />
      </a>
      <p><%= employee.email %></p>
    </div>
    <% }) %>
    <!-- later : remove tk admin -->
  </div>

</main>

<%- include('../includes/foot')%>
