<%- include('../includes/head.ejs')%> <%- include('../includes/mav.ejs')%>

<main>
  <div class="grid">
    <%= users && users.map(user => { %>
    <div class="grid-item">
      <a class="image" href="/reports/:<%= user.reports.reportId %>">
        <img src="<%= user.image %>" alt="<%= user.name %>" />
      </a>
      <p><%= user.name %></p>
    </div>
    <% }) %>
  </div>
</main>

<%- include('../includes/foot.ejs')%>
