<%- include('../includes/head')%> <%- include('../includes/nav')%>
<main>
  <div class="grid">

    <% employees && employees.map(employee => { %>
      <div class="grid-item">

        <h3><%= employee._id %></h3>
        <a class="image" href="/reports/<%= employee._id %>">
          <img src="<%= employee.image %>" alt="<%= employee._id %>" />
        </a>
        <p><%= employee.email %></p>

        <div class="flex">
          <form action="/delete-report/<%= employee._id %>" method="post" style="text-align:center;">
            <button class="btn" type="submit">delete old reports</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          </form>

          <form action="/toggle-changes/<%= employee._id %>" method="post" style="text-align:center;">
            <button class="btn" type="submit"><% if (employee.editMode) { %>disable<% } else { %>able<% } %> changes</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          </form>
        </div>

      </div>
    <% }) %>

  </div>
</main>

<%- include('../includes/foot')%>
