<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length > 0) { %>
                <ul>
                    <% console.log('orders', orders) %>
                    <% orders.forEach(order => { %>
                        <% console.log('order', order) %>
                        <li>
                            <h1># <%= order._id %></h1>
                            <ul>
                                <% order.products.forEach(p => { %>
                                    <% console.log('CHVG', p) %>
                                    <% console.log('abc', p.product) %>
                                    <!-- do may cai ko co title = undefined ma van bat no lap qua day -->
                                    <li>
                                        <%= p.product.title %> (<%= p.quantity %>)
                                    </li>
                                <% }) %>
                            </ul>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h1>Nothing there!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>